@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);

/* font-family: "Signika";*/

* {
	margin: 0;
	padding: 0;
	border:0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color:#333;
	background-color: #141414;
}

a { 
	color: #353535; 
	text-decoration: none; 
}

a:hover {
	 color: #353535; 
	 text-decoration:underline; 
}

img {
	vertical-align: top;
}

header {
	height: 231px;
}

header:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/header.jpg) no-repeat 0 0;
  opacity: 0.5;
}

.logo_header_des {
	float: left;
	padding-top: 15px;
}

.cont_menu_der {
	position: absolute;
	right: 0;
	width: 67%;
	margin-top: 69px;
	background: rgba(0,0,0,0.6);
	min-height: 85px;

}

.cont_menu_der a {
	text-align: center;
	font-weight: bold;
	color: #fff;
	padding: 18px 12px 10px 12px;
	/*margin-right: 9%;*/
	margin-right: 4%;
}

.cont_menu_der a:hover {
	text-align: center;
	border-top:4px solid #fb960a;
	color: #fb960a;
	text-decoration: none;
}

.menu_principal_bt {
	padding-top: 51px;
	padding-left: 22px;
}


.contenedor_sitio {
	width: 1170px;
	margin: 0 auto;
}

.contenedor_centro {
	width: 100%;
	background: url(../img/fondo_centro.png);

}

footer {
	background: #262626;
	padding: 54px 0 20px;
	float: left;
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.logo_footer {
	float: left;
	width: 355px;
}

.footer-text {
	color: #676767;
	float: none;
	margin-top: 27px;
	font-weight: bold;
}

.footer_nom_sitio  {
	float: left;
	margin-top: -48px;
	margin-right: 17px;	
}

.footer-text a {
	color: #676767;
}

.footer-text a:hover{
	color: #676767;
}


.contenedor_bts_footer {
	float: left;
	width: 170px;
	margin-left: 30px;
}

.menu_footer {
	float: left;
	width: 100%;
	margin-top: 7%;
	margin-left: 10%;
}

.menu_footer ul {
	width: 100%;
}

.menu_footer li {
	list-style: none;
	margin-bottom: 4px;
	padding-left: 17px;
	background: url(../img/list.png) left 4px no-repeat;
}

.menu_footer li a {
	font-weight: bold;
	color: #d98a1a;
}

.menu_footer li a:hover {
	color: #676767;
	text-decoration: none;
}

.delivery {
	position: absolute;
	right: 40px;
	top: 14px;
}

.icon_delivery {
	width: 100%;
}

.icon_telefono {
	background: url(../img/icon_telefono.png) no-repeat  20px 0 ;
	height: 45px;
	padding: 7px 0 0 77px;
	color: #fff;
	font-family: "Signika", Arial;
	font-weight: 300;
	font-size: 30px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* AROUND THE WOK */

.sec_around_wok {
	width: 100%;
	padding: 30px 0 0 0;
}

.sec_around_wok h1 {
	font-family: "Signika", Arial;
	font-weight: 300;
	font-size: 48px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
	background: url(../img/estrellas_tit.png) no-repeat 0 0;
	padding: 30px 0 40px 15px;
}

.contenedor_around_galeria_wok {
	padding-bottom: 100px;
}


/* GALERIA AROUND THE WOK */

.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
	position:relative;
	/*-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9); */
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	/*height:100%;*/
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fdc32f;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../images/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	/*-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;*/
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	/*-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;*/
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:12px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
	color: #fff;
}
.rg-view{
	/*height:30px;*/
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
